h1 {
    color:rgb(61, 208, 193);
    font-family: 'Trebuchet MS';
    text-align: center;
}

h3 {
    text-align: center;
}
.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: transform .2s;
}

.pic:hover {
    transform: scale(1.2);
}